[submodule "libs/cryptopp"]
	path = libs/cryptopp
	url = https://github.com/openpeer/cryptopp.git
	branch = feature-20150301-reorg
[submodule "libs/curl"]
	path = libs/curl
	url = https://github.com/openpeer/curl-build-scripts.git
	branch = feature-20150301-reorg
[submodule "libs/idnkit"]
	path = libs/idnkit
	url = https://github.com/openpeer/idnkit.git
	branch = feature-20150301-reorg
[submodule "libs/op-services-cpp"]
	path = libs/op-services-cpp
	url = https://github.com/openpeer/op-services-cpp.git
	branch = feature-20150301-reorg
[submodule "libs/ortc-lib"]
	path = libs/ortc-lib
	url = https://github.com/openpeer/ortc-lib.git
	branch = feature-20150301-reorg
[submodule "libs/udns"]
	path = libs/udns
	url = https://github.com/openpeer/udns.git
	branch = feature-20150301-reorg
[submodule "libs/zsLib"]
	path = libs/zsLib
	url = https://github.com/openpeer/zsLib.git
	branch = feature-20150301-reorg
[submodule "libs/webrtc"]
	path = libs/webrtc
	url = https://github.com/openpeer/webrtc.git
	branch = feature-20150301-reorg
[submodule "libs/webrtc-deps/colorama"]
	path = libs/webrtc-deps/colorama
	url = https://chromium.googlesource.com/external/colorama.git
[submodule "libs/webrtc-deps/libsrtp"]
	path = libs/webrtc-deps/libsrtp
	url = https://github.com/openpeer/libsrtp.git
	branch = WinRT
[submodule "libs/webrtc-deps/libvpx"]
	path = libs/webrtc-deps/libvpx
	url = https://github.com/openpeer/libvpx.git
	branch = WinRT
[submodule "libs/webrtc-deps/libyuv"]
	path = libs/webrtc-deps/libyuv
	url = https://github.com/openpeer/libyuv.git
	branch = feature-20150301-reorg
[submodule "libs/webrtc-deps/opus"]
	path = libs/webrtc-deps/opus
	url=https://github.com/openpeer/opus.git
	branch = WinRT
[submodule "libs/webrtc-deps/patched-yasm"]
	path = libs/webrtc-deps/patched-yasm
	url = https://chromium.googlesource.com/chromium/deps/yasm/patched-yasm
	branch = master
[submodule "ios"]
	path = ios
	url = https://github.com/openpeer/ortc-lib-ios.git
	branch = feature-20150301-reorg
[submodule "winrt"]
	path = winrt
	url = https://github.com/openpeer/ortc-lib-winrt.git
	branch = feature-20150301-reorg
[submodule "libs/webrtc-deps/libjpeg_turbo"]
	path = libs/webrtc-deps/libjpeg_turbo
	url = https://github.com/openpeer/libjpeg_turbo.git
	branch = WinRT
[submodule "libs/webrtc-deps/gyp"]
	path = libs/webrtc-deps/gyp
	url = https://github.com/openpeer/webrtc-gyp.git
	branch = WinRT
[submodule "libs/webrtc-deps/build"]
	path = libs/webrtc-deps/build
	url = https://github.com/openpeer/webrtc-build.git
	branch = WinRT
[submodule "libs/webrtc-deps/openmax"]
	path = libs/webrtc-deps/openmax
	url = https://github.com/openpeer/openmax.git
[submodule "bin"]
	path = bin
	url = https://github.com/openpeer/ortc-lib-sdk-bin.git
